<div class='menu-container'>
  <div class='card-header col-md-10'>
    <h2>
       Current Menu
    </h2>
  </div>
  {{#each products as |product|}}
    <div class='col-md-5'>
      <p>
        {{product.id}}.
        {{product.product_name}}
      </p>
    </div>
    {{/each}}
</div>